certifi==2025.1.31
charset-normalizer==3.4.1
dotenv==0.9.9
greenlet==3.1.1
idna==3.10
load-dotenv==0.1.0
numpy==2.2.4
pandas==2.2.3
pandas-stubs==2.2.3.250308
psycopg2==2.9.10
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2025.1
requests==2.32.3
six==1.17.0
SQLAlchemy==2.0.38
types-pytz==2025.1.0.20250318
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
